body {
	margin: 0 auto;
	font-family: 'Montserrat Alternates', sans-serif;
}
*:focus {
	outline: none;
}

.score {
	position: fixed;
	top: 9.5vw;
	left: 80.5vw;
	width: 16.5vw;
	background-color: #C8DD4E;
	font-size: 3.6vw;
	text-align: center;
	color: #fff;
	font-weight: 600;
	border-radius: 1.6vw;
}




.upgradeContainer {
	float: left;
	margin: 40px 0 0 40px;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 266px;
	height: 318px; 
	background-color: #F4CC4D;
	border-radius: 22px;
	box-shadow: 0 0 10px #F4CC4D; 
}

.clickContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 210px;
	height: 192px;
	background-color: #F9E6B2;
	border: 4px solid #EAC049;
	border-radius: 22px;
	margin:  20px 0 0 0;
}

.clickBttn {
	background-color: #71D3EA;
	border: 4px solid #67CBDB;
	border-radius: 22px;
	width: 144px;
	height: 131px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
	font-size: 28px;
	color: #2BB8D8;
}

.upgradeBttn {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	font-size: 18px;
	width: 210px;
	height: 55px;
	color: #f2af27;
	margin: 22px 0 0 0;
	background-color: #F9E6B2;
	border: 4px solid #EAC049;
	border-radius: 18px;
}

.level {
	color: #EABB47;
	margin: 2px 0 0 0;
	font-size: 20px;
}

/*FIRST BLOCK FIRST BLOCK*/





/*SECOND BLOCK SECOND BLOCK*/


.clickTime {
	background-color: #9ff6ff;
	border-radius: 22px;
	width: 144px;
	height: 131px;
}


.barTime {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-image: linear-gradient(#18cad3, #18cad3);
	background-repeat: no-repeat;
	background-position: 100% 101%;
	background-size: 100% 1%;
	border-radius: 22px;
	width: 144px;
	height: 131px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size: 35px;
	color: #fff;
}
.barTimeText1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size: 35px;
	color: #fff;
	display: flex;
	justify-content: center;
	position: relative;
	top: -110px;
	display: none;
}
.barTimeText2 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 400;
	font-size: 35px;
	color: #fff;
	display: flex;
	justify-content: center;
	position: relative;
	top: -110px;
	display: none;
}
.clickContainerLock {
	position: absolute;
	width: 266px;
	height: 318px; 
	border-radius: 24px;
	background-color: #3a3315;
	opacity: 60%;
}

.unlockBttn {
	position: absolute;
	top: 280px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	font-size: 25px;
	width: 210px;
	height: 55px;
	color: #fff;
	background-color: #97e068;
	border: 4px solid #8ccc62;
	border-radius: 18px;
}

.lock_img {
	position: absolute;
	top: 100px;
}

.upgradeBttnTime {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	font-size: 18px;
	width: 210px;
	height: 55px;
	color: #f2af27;
	margin: 22px 0 0 0;
	background-color: #F9E6B2;
	border: 4px solid #EAC049;
	border-radius: 18px;
}

.unlockBttnNoMoney {
	background-color: #bfbfbf;
	 border: 4px solid #b3b3b3; 
	 color: #a8a8a8;
}
/*SECOND BLOCK SECOND BLOCK SECOND BLOCK*/



/*SETTINGS SETTINGS SETTINGS SETTINGS*/


.settingsBttn {
	cursor: pointer;
	background-color: #fff;
	width: 5.1vw;
	height: 5.1vw;
	background-image: url('icon/settings_icon.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	position: absolute;
	top: 2.9vw;
    left: 91.7vw;
}
.settingsPanel{display: none;}
.settingsPanel div {
	text-align: center;
	font-size: 24px;
	width: 25vw;
	cursor: pointer;
	transition: .3s;
}
.settingsPanel div:hover {
	background-color: #d9d9d9;
}
.settingsPanelStyle {
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25vw;
	height: 15vw;
	background-color: #fff;
	box-shadow: 0 0 40px 2px #e8e8e8;
	border-radius: 24px;
	position: absolute;
	top: 9vw;
	left: 73vw;
}

/*SETTINGS SETTINGS SETTINGS SETTINGS*/



.loadScreen	{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: grey;
	z-index: 1001;	
}
.loading {
	width: 600px;
	height: 80px;
	background-color: #e9ff8a;
	border-radius: 8px;
}
.loadingFill {
	width: 0%;
	height: 100%;
	background-color: #d2ed5a;
	border-radius: 8px;
}
.loadingText { width: 100%; font-size: 42px; margin-top: 14px; color: #fff; text-align: center;}









.animationClick {
	animation-name: animClick;
	animation-duration: 0.1s;
}
.animationUpgrade {
	animation-name: animUpgrade;
	animation-duration: 0.1s;
}


@keyframes animClick {
0% {
	background-color: #61CADB;
	width: 148px;
	height: 135px;
	font-size: 32px;
	transform: rotate(5deg);
}
100% {
	transform: rotate(-5deg);
	background-color: #71D3EA;
}}

@keyframes animUpgrade {
0% {
	background-color: #EFD9A3;
	width: 220px;
	transform: rotate(1deg);
}
100% {
	transform: rotate(-1deg);
	background-color: #F9E6B2;
}}


.boost {
	width: 400px;
	height: 200px;
	background-color: white;
	box-shadow: 0 6px 30px 1px #d9d9d9;
	border-radius: 24px;
	position: absolute;
	top: 600px;
	left: 920px;
	display: none;
	flex-direction: column;
	align-items: center;
}

.textBoost {
	text-align: center;
	margin-top: 35px;
	font-size: 32px;
}

.boostBttn {
	width: 160px;
	height: 40px;
	font-size: 24px;
	margin-top: 40px;
	color: #3b3b3b;
	background-color: white;
	border: 1px solid #3b3b3b;
	border-radius: 4px;
}
.boostBttn:hover {
	color: white;
	background-color: #3b3b3b;
	border: none;
	width: 164px;
	height: 42px;
}

.boostClose{
	position: absolute;
	top: 170px;
	color: #8f8f8f;
	border: none;
	background: none;
	transition: .4s;
}
.boostClose:hover { color: #3b3b3b; }
button {
	cursor: pointer;
}

.boostTime {
	position: fixed;
	top: 14.5vw;
	left: 81.5vw;
	width: 15vw;
	font-size: 1.5vw;
	text-align: center;
	color: #3b3b3b; 
	display: none;
}





@media screen and (max-width:480px){
	.score {
		width: 48vw;
		font-size: 12vw;
		height: 16vw;
		top: 3vw;
		left: 3vw;
	}

	.settingsBttn{
		width: 60px;
		height: 60px;
		left: 80vw;
	}
	.settingsPanelStyle {
		width: 80vw;
		height: 80vw; 
		top: 23vw;
		left: 10vw;
	}
	.settingsPanel div {
		width: auto;
	}

	.upgradeContainer {
		margin-top: 100px;
		margin-left: 0;
		margin-right: 0;
	}

	.container {
		width: 266px;
		margin: 0 auto;
	}

	.upgradeContainer:last-child {margin-top: 30px;}

	.unlockBttn {
		top: 685px;
	}
	.lock_img {
		top: 510px;
	}


	.boostCenter {
		width: 100vw;
		display: flex;
		justify-content: center;
	}
	.boost {
		width: 90vw;
		height: 55vw;
		box-shadow: 0 10px 30px #d9d9d9;
		top: 200vw;
		bottom: 0;
		left: auto;
		position: fixed;
		display: none;
		flex-direction: column;
		align-items: center;
	}
	.textBoost {
		text-align: center;
		margin-top: 7vw;
		font-size: 10vw;
	}

	.boostBttn {
		width: 46vw !important;
		height: 12vw !important;
		font-size: 5.5vw;
		margin-top: 8vw;
		color: #3b3b3b;
		background-color: white;
		border: 1px solid #3b3b3b;
		border-radius: 4px;
	}
	.boostClose {
		top: 42vw;
		font-size: 4vw;
	}
	.boostTime {
		top: 6vw;
		left: 55vw;
		width: 20vw;
		font-size: 5vw;
	}
}